---
layout: default
---
<article id="post-page">
    <h1>{{ page.title }}</h1>
    <time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
    <div class="content">

        {{ content }}

        {% if page.author %}
            <p style="font-size:15px"> <i>by {{page.author}}</i></p>
        {% else %}
            <p style="font-size:15px"> <i>by unknown</i></p>
        {% endif %}

    </div>
</article>
<hr/>

{% if page.comments %}

    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.page.url = "{{ page.url | prepend: site.url }}";
            this.page.identifier = "{{ page.title | replace: ' ', '_' }}";
        };

        (function() {
            var d = document, s = d.createElement('script');
            s.src = '//neural-convolutions.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();

    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endif %}
